<h1>Foods</h1>

<p>Here's a list of food.</p>

<p *ngIf="!food"><em>Loading...</em></p>

<div class="commands text-right" *ngIf="food">
    <button type="button"
            [routerLink]="['/food']"
            class="btn btn-success">
        Add a new Food
    </button>
</div>

<mat-form-field [hidden]="!food">
    <input matInput (keyup)="onFilterTextChanged($event.target.value)"
           placeholder="Filter by name (or part of it)...">
</mat-form-field>

<table mat-table style="width:100%" [dataSource]="food" class="table-striped mat-elevation-z8" [hidden]="!food"
       matSort (matSortChange)="loadData()"
       matSortActive="{{defaultSortColumn}}" matSortDirection="{{defaultSortOrder}}">

    <!-- Id Column -->
    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header style="width:10%">ID</th>
        <td mat-cell *matCellDef="let food"> {{food.id}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
        <td mat-cell *matCellDef="let food">
            <a [routerLink]="['/food', food.id]">{{food.name}}</a>
        </td>
    </ng-container>

   

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
﻿
<!-- Pagination directive -->
<mat-paginator [hidden]="!cities"
               (page)="getData($event)"
               [pageSize]="10"
               [pageSizeOptions]="[10, 20, 50]"
               showFirstLastButtons></mat-paginator>
